In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('./processed/train3.csv', index_col=0)
test = pd.read_csv('./processed/test3.csv', index_col=0)

In [3]:
train.head(3)

,PassengerId,Survived,Pclass,FamilySize,IsAlone,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Other,FareLabel,AgeLabel
0,1,0,3,2,0,0,1,0,0,1,0,0,1,0,0,0,1
1,2,1,1,2,0,1,0,1,0,0,0,0,0,1,0,3,2
2,3,1,3,1,1,1,0,0,0,1,0,1,0,0,0,1,1

In [4]:
test.head(3)

,PassengerId,Pclass,FamilySize,IsAlone,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Other,FareLabel,AgeLabel
0,892,3,1,1,0,1,0,1,0,0,0,1,0,0,0,2
1,893,3,2,0,1,0,0,0,1,0,0,0,1,0,0,2
2,894,2,1,1,0,1,0,1,0,0,0,1,0,0,1,3

## 4.1.クロスバリデーション

In [6]:
from sklearn import model_selection

![](https://www.developer.com/imagesvr_ce/4348/ML6.png)
https://www.developer.com/mgmt/real-world-machine-learning-model-evaluation-and-optimization.html

In [7]:
cv_split = model_selection.ShuffleSplit(n_splits = 10, test_size = .3, train_size = .6, random_state = 0 ) 
cv_results = model_selection.cross_validate(, data1[data1_x_bin], data1[Target], cv  = cv_split)

NameError: name 'alg' is not defined